h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
}

body{
    margin: 0;
}

body, p, a, li {
    font-family: 'Open Sans', sans-serif;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    height: 75px;
    overflow: hidden;
}

#nav-casseroll-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    object-position: center;
    transform: scale(1.4);
    overflow: hidden;
}

.logo img {
    margin: 10px 5px 5px 5px;
    height: 50px;
    width: auto;
    position: relative;
    z-index: 2;
    border-radius: 5px;
}
.nav-links {
    display: flex;
    gap: 20px;
    z-index: 1; 
    margin: 0 auto;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative; 
}

body{
    background-color: #F3E5AB;
}

footer{
    background-color: #C47A3C;
    padding: 50px;  
}

#about-section, #home-section {
    max-width: 700px;
    margin: 80px auto;
    padding: 20px;
}

.about-wrapper, .home-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 75px;
}

.about-text, .home-text {
    flex: 1;
}

.about-image, .home-image {
    width: 40%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.footer-links {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}